/* NewStyles */
/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 5% auto;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background: #fff8f2;
}
.container {
  width: 80%;
  margin: 10px auto;
}

h1 {
  font-size: 1.1em;
  font-weight: 800;
}
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: .3em;

}

/* Link Styles */
nav {
  background-color: rgba(255,255,255, .3);
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #777;
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;

}
a:hover {
  color: #ff7b00;
  background-color: rgba(255,255,255,.7);

}
a.inPara {
  text-transform: lowercase;
  display: inline-block;
  color: tomato;
  font-size: 1em;
  line-height: 1.8em;
  padding: 0;

}

/* Section Styles */

.intro {
  display: inline-block;
  /* padding-top: 45px; */
  /* margin: 20px; */
}
p {
  width: 85%;
  margin: 0 auto;
  color: #999;
  font-size: 1em;
  line-height: 1.8em;
}

.intro img {
  margin: 20px 0;
  border-radius: 60px;
}

main {
  clear: both;
}

.portfolio li {
  padding-top: 20px;
  padding-bottom: 30px;
}

.skills {
  padding-bottom: 40px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 8px 40px 8px;
  border-bottom: 2px solid #ddd;
  background-color: white;
}

.footerPara {
  padding-bottom: 30px;
}

.contact {
  padding-left: 30px;
  font-weight: 800;
}

.footer {
  width: 100%;
  padding-top: 50px

}
footer h4 {

  margin: 0;
  float: left;
}
footer a {
  float: right;
  margin: 0;

}
/* =================================
  Media Queries
==================================== */
@media (min-width: 768px) and (max-width: 1023px) {

.portfolio li:nth-child(odd) {
    float: left;
    width: 50%;
    margin-right: 10px;
  }
}
@media (min-width: 1024px) {

    nav {
      float: right;
      /* display: flex; */
      /* justify-content: space-around; */
      font-weight: 600;
      padding: 0;
      min-height: 30px;
      border-bottom: 8px solid #f2f7ff;
  }
    .topNav li {
      margin-right: 10px;
      display: inline-block;
    }
    .name {
        margin-top: 10px;
        font-size: 1.2em;
        font-weight: 700;
        color: black;
        float: left;
    }
    .intro {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .intro p {
        float: left;
        line-height: 1.5;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 1.2em;
        width: 50%;
        text-align: left;
        margin-right: 1em;
    }

    .intro img {
      float: right;
      display: inline-block;
      margin: 0;
    }
    ul.portfolio  {
      padding: 0;
    }
  .portfolio li {
      width: 30%;
      padding: 10px;
      display: inline-block;
    }

    /* .portfolio {
      width: 80%;
      margin: 0 auto;
      padding: 5px;
    } */
    /* ul.portfolio {
      width: 80%;
      margin: 0 auto;
    }

    ul.portfolio li {
      width: 28%;
      float: left;
      padding: 0;
      margin: 0;
      display: block;
    }

    ul.portfolio img {
      display: block;
      padding: 10px;
    }

    .left {
      float: left;
      margin-right: 10px;
    } */

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

}
